<ul>

    <li>
        <a href="manifest.json" target="_blank">manifest</a>
    </li>
    {{#pages}}
        <li>
            <a href="{{url}}" target="_blank">{{title}}</a>
        </li>
    {{/pages}}
</ul>
