{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["component", {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
