{{#manifest}}
<link rel="stylesheet" href="{{'detail.css'}}">
{{/manifest}}


<div id="root"></div>

<textarea>{{json data}}</textarea>

{{#data}}
<div>
    {{name}}
</div>
{{/data}}


{{#manifest}}
<script src="{{'detail.js'}}"></script>
{{/manifest}}
