{{#manifest}}
<link rel="stylesheet" href="{{'about.css'}}">
{{/manifest}}

<div id="root"></div>

{{#dll_manifest}}
<script src="{{'jquery.js'}}"></script>
<script src="{{'react.js'}}"></script>
{{/dll_manifest}}
{{#manifest}}
<script src="{{'about.js'}}"></script>
{{/manifest}}
