{{#manifest}}
<link rel="stylesheet" href="{{'compressorjs.css'}}">
{{/manifest}}

<div id="root">

    <div>
        <div>Input (original)</div>
        <div>
            <input type="file" id="original_file" accept="image/*">
        </div>
        <div>
            <img class="image original-image" src="" id="original_image" width="600" >
        </div>
    </div>


    <div>
        <div>Output (compressed)</div>
        <div>
            <input type="file" id="compressed_file" accept="image/*">
        </div>
        <div>
            <img class="image compressed-image" src="" id="compressed_image" width="600">
        </div>
    </div>

</div>

{{#manifest}}
<script src="{{'compressorjs.js'}}"></script>
{{/manifest}}
