<head>
    {{> header}}

{{#manifest}}
    {{#if [demo.css]}}test{{/if}}
    <link rel="stylesheet" href="{{[demo.css]}}">
{{/manifest}}
</head>

<body>

<div id="root">demo</div>

{{#manifest}}
<script src="{{[demo.js]}}"></script>
{{/manifest}}

</body>



