<head>
    {{> header}}

{{#manifest}}
    {{#if [demo_ie9.css]}}
        <link rel="stylesheet" href="{{[demo_ie9.css]}}">
    {{/if}}
{{/manifest}}
</head>

<body>

<div id="root">ie9</div>

<script>
    function _dll_bootstrap() {}
</script>
{{#manifest}}
<script src="{{[demo_ie9.js]}}"></script>
{{/manifest}}

</body>



