<head>
    {{> header}}
</head>

<body>

<ul>

    <li>
        <a href="manifest.json" target="_blank">manifest</a>
    </li>
    {{#pages}}
        <li>
            <a href="{{url}}" target="_blank">{{title}}</a>
        </li>
    {{/pages}}
</ul>

{{#manifest.bundle}}
    <script src="{{index}}"></script>
{{/manifest.bundle}}

</body>



