{{#manifest}}
<link rel="stylesheet" href="{{'pdf.css'}}">
{{/manifest}}

<div id="root" class="container">
    <canvas id="the-canvas"></canvas>
</div>



{{#manifest}}
    <script>
        (function(){
            try {
                window.__pdf_worker_url = "{{'pdf_worker.js'}}";
            }
            catch (e) {

            }
        })();
    </script>
    <script src="{{'pdf.js'}}"></script>
{{/manifest}}

