{{#manifest}}
<link rel="stylesheet" href="{{'echarts.css'}}">
{{/manifest}}

<div id="root"></div>
<div id="main" style="width: 600px;height:400px;margin: 0 auto;"></div>


{{#manifest}}
<script src="{{'echarts.js'}}"></script>
{{/manifest}}
